# dependencies
node_modules

# build outputs
dist
.next
tsconfig.tsbuildinfo

# env files
.env
.env.local
apps/**/.env
apps/**/.env.local

# runtime data
uploads
reports
!apps/api/src/reports/
apps/api/src/reports/*
!apps/api/src/reports/report-generator.service.ts
!apps/api/src/reports/report-generator.service.spec.ts

# misc
.DS_Store
coverage
*.log
